.containerSelected {
    width: 90%;
    background-color: var(--selected-note-background);
    color: var(--primary-text-color);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    gap: 10px;
    padding-top: 30px;
    border-radius: 15px;
}

.containerUnselected {
    width: 90%;
    background-color: var(--title-background);
    color: var(--primary-text-color);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    gap: 10px;
    padding-top: 30px;
}

.rule {
    color: var(--rule-color);
    width: 90%;
}