.container {
    padding: 2%;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: center;
    color: var(--secondary-text-color);
}

.title {
    color: var(--primary-text-color);
    border: none;
    width: 99%;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 32px;
    background-color: var(--note-area-background);
}

.body {
    color: var(--primary-text-color);
    margin-top: 5px;
    padding: 10px;
    border: none;
    height: 80vh;
    font-size: 24px;
    width: 96%;
    background-color: var(--note-area-background);
}